[2018-11-16 14:36] Shelly7w7 opened #3 "Error while typing /shop"
[Server] Server thread/CRITICAL Unhandled exception executing command 'shop' in shop: yaml_parse_file(/plugin_data/CustomShopUI/shop.yml): failed to open stream: No such file or directory
16.11 14:34:39
16.11 14:34:39 [Server] Server thread/CRITICAL ErrorException: "yaml_parse_file(/plugin_data/CustomShopUI/shop.yml): failed to open stream: No such file or directory" (EXCEPTION) in "ShopUI-FormAPI

[2018-11-16 15:05] Shelly7w7 commented on #3
nvm

[2018-11-16 15:05] #3 closed

[2018-11-21 17:29] BajanVlogs opened #4 "Could you add images"

[2018-11-21 18:23] AlexPads commented on #4
This is currently being worked on :)

[2018-11-26 17:29] #4 closed

[2018-12-19 18:52] LeoBdt opened #7 "server crash. when i hit button on shop ui."
![capture d ecran du 2018-12-19 19 51 50](https://user-images.githubusercontent.com/11062780/50241360-941fd480-03c7-11e9-806a-9b6fc29555ec.png)

[2018-12-19 19:31] AlexPads commented on #7
Can I please have more information like:
OS
Plugin Version
pmmp version
php version
stuff lie that what specific button you pressed?
Thanks when I can I will look at line 94

On Wed, Dec 19, 2018 at 1:52 PM Léo <notifications@github.com> wrote:

[2018-12-19 20:07] LeoBdt commented on #7
OS : debian 9.1
plugin version : 3.0.1
pmmp version : 3.5.1
php version : the last ??
every button make the error.

[2018-12-19 21:15] #7 closed

[2018-12-19 21:15] AlexPads commented on #7
should be fixed when poggit approves 3.0.2 :) Thanks!!!!!!!!

[2018-12-19 22:48] LeoBdt commented on #7
btw can we talk on twitter or discord please ? it's very important

[2018-12-19 22:59] LeoBdt opened #8 "i can't buy ! :/"
OS : debian 9.1
plugin version : 3.0.2 (your """fix""")
pmmp version : 3.5.1
php version : the last ??

ok so now if i hit a button (for exemple blocks) it will just say "Thanks for using ShopUi" in tchat, and do nothing else

[2018-12-20 03:41] AlexPads commented on #8
Well please go back to 3.0.0 as i obviously have 2 not good versions rn -_- i am coming out with a complete rewrite in a few days that will be 100% tested and Hopefully Fully working These last two builds have been slowly me putting things in but as you can see it is not working Thank you for the Report with the inaccurate php version.

[2018-12-20 03:46] #8 closed

[2018-12-20 03:48] AlexPads commented on #8
Download the latest commit from poggit dev section i think its 37 just download the top one and see if that fixes it
Thanks

[2018-12-20 05:56] LeoBdt commented on #8
nice, please could you add me on discord ? Léo#0032

i need you to help me to fix my NoRegen plugin.....

[2018-12-20 05:59] LeoBdt commented on #8
btw are your french?

[2018-12-20 13:36] AlexPads commented on #8
ill add you later and no im not French im German but I live in the USA xD

On Thu, Dec 20, 2018 at 12:59 AM Léo <notifications@github.com> wrote:

[2018-12-20 13:43] AlexPads commented on #7
yes ill add u when I get home

On Wed, Dec 19, 2018 at 5:48 PM Léo <notifications@github.com> wrote:

[2018-12-20 18:29] LeoBdt opened #9 "same error... again and again ...."
OS : debian 9.1
plugin version : 3.0.3 (your """fix""")
pmmp version : 3.5.1
php version : the last ??

ok so now if i hit a button (for exemple blocks) it will just say "Thanks for using ShopUi" in tchat, and do nothing else

[2018-12-20 18:44] AlexPads commented on #9
OK Please just go back to 3.0.0 because obviously something is wrong with
the way that the poggit virons are affecting the plugin

On Thu, Dec 20, 2018 at 1:29 PM Léo <notifications@github.com> wrote:

[2018-12-20 18:45] AlexPads commented on #9
and you getting all snobby like that isn't making want to help you also im
still in high school and its finals week so fixing the plugin is not high
on the todo list

On Thu, Dec 20, 2018 at 1:44 PM AlexCraft ., <alexmsmit2002@gmail.com>
wrote:

[2018-12-20 18:51] LeoBdt commented on #9
i'm sorry i don't want to offens you

[2018-12-23 03:44] #9 closed

[2018-12-23 11:08] LeoBdt opened #10 "hello, just a question."
Are you trying your plugin before uploading them and saying the bugs have been fixed?

There's still the same error. I'm not here to blame your work but please, try your plugin before......

[2018-12-23 23:05] AlexPads commented on #10
it is Fixed and Yes i am trying it You just SUCK at telling me what the
error is an how to recreate the problem

On Sun, Dec 23, 2018 at 4:25 PM fluorine [f] <notifications@github.com>
wrote:

[2018-12-23 23:05] AlexPads commented on #10
what version are u using?

On Sun, Dec 23, 2018 at 6:04 PM AlexCraft ., <alexmsmit2002@gmail.com>
wrote:

[2018-12-23 23:07] AlexPads commented on #10
ALSO i completely rerote and re formatted the code and Fixed all the issue snad made it lok batter and be more intuitive so

[2018-12-23 23:13] LeoBdt commented on #10
Bro i'm using the last version.

To recreate the error :

1: do /shop
2: click on any button (blocks for exemple)
3: it just says in tchat "thanks for using ShopUI" ....

[2018-12-24 00:30] captainleviftw commented on #10
@LeoBdt does it exactly say

 in 'tchat'?

[2018-12-24 00:30] LeoBdt commented on #10
in chat, where u send msg.

[2018-12-24 00:32] captainleviftw commented on #10
Let me ask again, @LeoBdt does it exactly say

"thanks for using ShopUI" in chat?

[2018-12-24 00:32] LeoBdt commented on #10
YES

[2018-12-24 00:33] captainleviftw commented on #10
Could you show me what's inside your `config.yml`? @LeoBdt

[2018-12-24 00:34] LeoBdt commented on #10
it's the original file, i haven't modified it

[2018-12-24 00:44] captainleviftw commented on #10
There's no such message as

in https://github.com/AlexPads/ShopUI-FormAPI-Working/blob/master/resources/config.yml

[2018-12-24 00:51] LeoBdt commented on #10
Okay sorry it's "thank you for shoping at ShopUI

[2018-12-24 01:41] captainleviftw commented on #10
that message is only called in `https://github.com/AlexPads/ShopUI-FormAPI-Working/blob/71f4742779aecc83aebc6b0580e11cb7ede52373/src/AlexPads/ShopUI/SaltyPixelDevz/Shop.php#L80` when you fail to select category I assume

[2018-12-24 04:11] AlexPads commented on #10
@LeoBdt You are using version 3.2.0? not 3.0.0 or 3.1.3 or 3.0.5 or any of those you are using the Latest for sure and you are Using the Phar from Poggit not the source because it uses a Viron so the code itself is useless.  and by what it does i mean like record a video ir send multiple screen shots or something show me Your files redo the plugin Uninstall it and re download it and install it aga

[2018-12-24 04:12] AlexPads commented on #10
@captainleviftw Are you a developer to? or just someone here to help 💯

[2018-12-24 12:09] LeoBdt commented on #10
yes i'm using 3.2.0

[2018-12-24 12:12] LeoBdt commented on #10
duuuuuuuuuude it's finally working ! i just unistall "slapperplus" plugin, and btw your plugin is so clean

[2018-12-24 14:41] captainleviftw commented on #10
I guess I'm both @AlexPads

[2018-12-27 17:40] AlexPads commented on #10
Yeah @LeoBdt Slapper plus is not recommended because it breaks other plugins that also use Form API i didn't ask what plugins you have bc most people don't have Slapper Plus or other plugins that break the UI system

also @captainleviftw are you a dev and would you like to help me with plugins? 👍 💯

[2019-01-05 11:19] BXXD101 opened #11 "Selling items does not remove the item from Players inventory"

[2019-01-05 17:49] AlexPads commented on #11
Could you give me vaersion information about the plug-in and the server so that I can work on the issue because I have never had this issue in any of my many servers.

[2019-01-07 04:10] #11 closed

[2019-01-08 13:35] AlexPads commented on #10
Thankyou this has now been solved for the final time and all things work correctly in 3.2.1 Thanks!

[2019-01-08 13:35] #10 closed

[2019-01-20 04:39] Flucid opened #12 "Help"
I know this is unrelated but do you have a Discord? I am on the lookout for a PMMP developer, Can work things out somehow? Send me your Discord or join discord.gg/FkvhaUF

[2019-01-20 07:39] AlexPads commented on #12
I Joined 😝

On Sat, Jan 19, 2019, 11:39 PM Flucid <notifications@github.com wrote:

[2019-01-21 05:54] #12 closed

[2019-02-02 17:55] AmeerReal opened #14 "[Suggestion] Add Back/Cancel button"
You need to add back button in the main shop menu and in the categories menus, and you need to add cancel button in the Buy/Sell menu.

[2019-02-04 02:04] AlexPads commented on #14
Thank you For your Suggestion! This is being worked on Along with Enchants!

[2019-02-06 07:08] Adam1609 opened #15 "Error when hitting /shop"
[14:05:11] [Server thread/CRITICAL]: TypeError: "Argument 1 passed to jojoe77777\FormAPI\SimpleForm::__construct() must be of the type integer, object given, called in C:\Users\Manage\Desktop\MysU\plugins\ShopUI-FormAPI-Working-69c390f38c78ff5f31a3d36fccca51760253cb49\src\AlexPads\ShopUI\SaltyPixelDevz\Shop.php on line 62" (EXCEPTION) in "plugins/FormAPI-master/src/jojoe77777/FormAPI/SimpleForm" a

[2019-02-06 07:11] Adam1609 commented on #15
Nvm

[2019-02-06 08:59] #15 closed

[2019-02-08 13:39] AlexPads commented on #14
@AmeerReal I am currently Rewriting the Entire Plugin So please Wait for the Revamp it will have more Features in the mean time I will keep this one up to date with API changes.

[2019-02-16 22:35] AlexPads commented on #14
@AmeerReal Fixed in New Update! Thank you for  Waiting!

[2019-02-16 22:35] #14 closed

[2019-02-17 17:59] SchdowNVIDIA opened #16 "The new version is full of bugs."
Well there are so many bugs in the new version.
1:
![image](https://user-images.githubusercontent.com/39440218/52916954-e147f600-32e5-11e9-9b29-5ef5a4317918.png)
2 i can't even see what i get for selling/buying:
![image](https://user-images.githubusercontent.com/39440218/52916962-f3299900-32e5-11e9-88bc-ea8ece487692.png)
![image](https://user-images.githubusercontent.com/39440218/52916966-00468800

[2019-02-17 18:33] AlexPads commented on #16
Thank-you! i will remove my review on your plugin now :)

They are all fixed in 3.5.2! you can check the dev section so you don;t have to wait for poggit.

[2019-02-17 18:33] SchdowNVIDIA commented on #16
There you go. You've fixed it. There is just one mistake/bug left:
I can't see how much do i get for selling:
![image](https://user-images.githubusercontent.com/39440218/52917365-d80d5800-32ea-11e9-8b85-58b3d5aaa39a.png)

[2019-02-17 18:33] SchdowNVIDIA commented on #16
Okay, i delete my rating now too. and rewrite when the new version is released.

[2019-02-17 18:34] AlexPads commented on #16
Yeah
That i can't fix bc forms can't Live update and i was alredy trying and i asked joejoe77777 and he said it wasnt possible :( im working on a way

[2019-02-17 18:34] AlexPads commented on #16
For now though i think you will be fine :)

[2019-02-17 18:34] AlexPads commented on #16
@SchdowNVIDIA

[2019-02-17 18:34] SchdowNVIDIA commented on #16
Well you could add that sell/buy thing from the old version until this is fixed

[2019-02-17 18:35] SchdowNVIDIA commented on #16
I mean it looks a bit strange only seeing the buy value. or just add another text with how much do you want to sell for blah$

[2019-02-17 18:36] AlexPads commented on #16
I think i have a Fix one sec :)

[2019-02-17 18:37] SchdowNVIDIA commented on #16
Okay, nice :)

[2019-02-17 18:49] AlexPads commented on #16
@SchdowNVIDIA There u go :)

[2019-02-17 18:49] AlexPads commented on #16
added {sell} to 2 different places.

[2019-02-17 18:50] SchdowNVIDIA commented on #16
Nice!

[2019-02-17 18:52] AlexPads commented on #16
If you ever want any more things just Say im Always here to fix it ASAP. (as you could see xD) 👍

[2019-02-17 18:52] AlexPads commented on #16
am i good to close this for now? lol

[2019-02-17 18:53] SchdowNVIDIA commented on #16
Yes, i'm rating your plugin when 3.5.3 is out with 5 stars :)
Thanks for fixing that!

[2019-02-17 18:55] AlexPads commented on #16
You're Welcome! Thanks for the Help~!

[2019-02-17 18:56] #16 closed

[2019-02-17 19:14] SchdowNVIDIA opened #17 "Commands does not work"
Well i've added the commands: in my shop.yml but it isn't working.

Ingame:
![image](https://user-images.githubusercontent.com/39440218/52917886-8071eb00-32f0-11e9-975a-acb22fe8243a.png)
Shop.yml (it isn't showing)
![image](https://user-images.githubusercontent.com/39440218/52917890-92538e00-32f0-11e9-8688-00608f3959ca.png)

[2019-02-18 00:52] AlexPads commented on #17
@SchdowNVIDIA Where it says Commands should still say Items 👍 That will fix your issue

You do NOT put Commands: above them it shoud only say items

so Exactly what you have is fine just Move it under where it says Items: Thanks!

[2019-02-18 13:32] SchdowNVIDIA commented on #17
Well there is no pay process.
1. There is no price (that 100$ is the name)
![image](https://user-images.githubusercontent.com/39440218/52954196-d646a180-3389-11e9-84d8-3578459d6867.png)
2. My money does not gets reduced:
![image](https://user-images.githubusercontent.com/39440218/52954232-f24a4300-3389-11e9-9a5f-fbc474b6cdb9.png)
![image](https://user-images.githubusercontent.com/39440218/52954270

[2019-02-18 13:40] AlexPads commented on #17
Alright Will fix when I get home from School. Because the Github Editor SUCKS 😂 @SchdowNVIDIA

[2019-02-18 13:41] SchdowNVIDIA commented on #17
Haha yeah :D

[2019-02-18 13:46] AlexPads commented on #17
But I do know what is wrong rn 😂 Casually Forgot a part xD

[2019-02-18 13:50] SchdowNVIDIA commented on #17
A part hm :P

[2019-02-18 13:50] AlexPads commented on #17
Yeah 1 or 10 parts 😂

[2019-02-18 13:51] AlexPads commented on #17
I rewrote the entire plugin in 3 days I didn't expect it to be perfect. 😂 👍

[2019-02-18 16:43] SchdowNVIDIA commented on #17
Lol okay

[2019-02-18 18:49] AlexPads commented on #17
@SchdowNVIDIA Would you Like to work together on plugins? I see you have made plugins it would be really helpful to have someone else that is able to help me because Right now I only have 3 others that are all beginners and don't really try and do anything. 😢 🥇

[2019-02-18 18:51] AlexPads commented on #17
Also its 1:50Pm where I live rn and I don't get off school until 5pm and won't be home until 5:45pm becuase I am auditorium manager and have a show after school to run.

[2019-02-18 22:18] SchdowNVIDIA commented on #17
For requests like that contact me via discord Schdow#6718

[2019-02-18 23:42] AlexPads commented on #17
@SchdowNVIDIA Fixed in Latest Update!

[2019-02-20 16:35] SchdowNVIDIA opened #18 "You can buy commands without having enough money + suggestion"
Well, I've tried to buy a command without having enough money and it worked.
Here:
![image](https://user-images.githubusercontent.com/39440218/53107639-b653e100-3535-11e9-8bbd-4780de07fea7.png)
Then:
![image](https://user-images.githubusercontent.com/39440218/53107660-c4096680-3535-11e9-83d1-2f9a182f4493.png)
End:
![image](https://user-images.githubusercontent.com/39440218/53107674-ce2b6500-3535-1

[2019-02-20 16:35] SchdowNVIDIA commented on #18
Oh and my suggestion is to add a little "would you really like to buy that command" form.

[2019-02-20 18:49] AlexPads commented on #18
OK I will fix the money part and then add the form in the next approved
update :) that way I don't have to try and get it approved for such a small
update .

On Wed, Feb 20, 2019 at 11:35 AM SchdowNVIDIA <notifications@github.com>
wrote:

[2019-02-20 18:50] AlexPads commented on #18
The Money will be fixed in the next dev build.

On Wed, Feb 20, 2019 at 1:50 PM AlexCraft ., <alexmsmit2002@gmail.com>
wrote:

[2019-02-20 19:22] #17 closed

[2019-02-21 03:31] #18 closed

[2019-02-23 16:03] LeoBdt opened #19 "buying error"
TypeError: "Argument 1 passed to pocketmine\lang\BaseLang::translateString() must be of the type string, null given, called in phar:///home/leo/hub/PocketMine-MP.phar/src/pocketmine/Player.php on line 3357" (EXCEPTION) in "src/pocketmine/lang/BaseLang" at line 124
2019-02-23 [16:54:11] [Server thread/DEBUG]: #0 src/pocketmine/Player(3357): pocketmine\lang\BaseLang->translateString(NULL )
2019-02-2

[2019-02-23 16:19] LeoBdt commented on #19
ErrorException: "A non-numeric value encountered" (EXCEPTION) in "plugins/ShopUI-FormAPI-Working_dev-57 (1).phar/src/SaltyPixelDevz/CustomShopUIv2/Shop" at line 276
2019-02-23 [17:18:06] [Server thread/DEBUG]: #0 plugins/ShopUI-FormAPI-Working_dev-57 (1).phar/src/SaltyPixelDevz/CustomShopUIv2/Shop(276): pocketmine\utils\Utils::errorExceptionHandler(integer 2, string A non-numeric value encountered

[2019-02-23 16:29] LeoBdt commented on #19
It happen when u have not enough money

[2019-02-23 17:53] AlexPads commented on #19
No it's because you have changed things in the config to much and messed something up I have this exact version of the plug-in running on the server and it does not do that. Plus the error message has nothing to do with money. Please fix your config file.

[2019-02-23 17:53] #19 closed

[2019-03-03 11:10] SchdowNVIDIA opened #20 "Error with 17:0 and 17:1 Having same Names etc..."
I only can buy the 1. Item because of the "Default"
`0: #must start at 0 and go up by one with every new category you make.
  Name: "Holz:textures/blocks/log_oak" #Can use Custom Colors in the Names using the "§" Symbol
  Items:
    - "17:0:1:10:3:Default:textures/blocks/log_oak"
    - "17:1:1:10:3:Fichtenholz:textures/blocks/log_spruce"
    - "17:2:1:10:3:Birkenholz:textures/blocks/log_birch"

[2019-03-03 21:22] AlexPads commented on #20
Thank you Also the Undefined offset at line 279 is a config error on your side :)

[2019-03-03 21:23] #20 closed

[2019-03-04 10:16] CryptoKey98 commented on #20
Yeah I'm getting the same issue. I can't change the name or else it returns an internal server error.

`[Server thread/CRITICAL]: ErrorException: "Undefined offset: 5" (EXCEPTION) in "plugins/ShopUI-FormAPI-Working.phar/src/SaltyPixelDevz/CustomShopUIv2/Shop" at line 279`

For example:

- "35:1:64:25:1.75:Orange Wool:textures/blocks/wool_colored_orange" would return an error.

I can't use default

[2019-03-04 10:23] CryptoKey98 commented on #20
Just realized you released a fix for this.  My bad.

[2019-03-04 10:24] CryptoKey98 commented on #20
Update: The error still exists are update.

[2019-03-04 10:28] CryptoKey98 opened #21 "Internal Server Error when changing Name from Default [Bug]"
I've decided to open a thread because the issue still persists after the update,

I can't change the name or else it returns an internal server error.

For example:

`"35:1:64:25:1.75:Orange Wool:textures/blocks/wool_colored_orange"` would return an error.

I can't use default for colored wool because the default will always be white wool.

I've tired using quotes: "Orange Wool". No good.
I've tri

[2019-03-04 10:42] CryptoKey98 commented on #21
Here's a GIF of the error demonstrated (larger than 10 MB can't upload here): https://imgur.com/1u81Bnv

[2019-03-04 11:04] CryptoKey98 opened #22 "[Suggestion] Permission Nodes and MultiShop Support!"
Just a suggestion. ¯\\_(ツ)_/¯ Would be nice if shop was accessible to only certain ranks/groups.

[2019-03-04 12:30] CryptoKey98 commented on #21
Update: So with the newest update, it now displays the correct name for colored wool in the shop menu but it says on the top left that you bought white wool.

[2019-03-04 12:35] AlexPads commented on #21
Reeeeeeeeeeeee

On Mon, Mar 4, 2019, 7:30 AM CryptoKey98 <notifications@github.com> wrote:

[2019-03-04 12:36] AlexPads commented on #20
Actually it only partially exists bc reeeeeeeee

On Mon, Mar 4, 2019, 5:24 AM CryptoKey98 <notifications@github.com> wrote:

[2019-03-04 12:54] AlexPads commented on #22
I am currently working on this Feature. :)

[2019-03-04 13:03] AlexPads commented on #21
Try the Latest Dev Build Tell me If it works @CryptoKey98

[2019-03-04 13:03] #21 closed

[2019-03-04 14:56] CryptoKey98 commented on #22
Also have another suggestion. Can you make shop types? Like for example: Shop, vipShop, etc...

[2019-03-04 15:04] CryptoKey98 commented on #21
Can confirm that the new update works.

[2019-03-04 15:06] AlexPads commented on #22
I will update the config to allow like the /shop vip and /shop and /shop starter stuff like that where you can enable and disable the categories the config will update making it have
Example:

Shop:
 0:
    Name: ""
    Items:
      - ""
Vip #used with /shop vip
 0:
 etc....
and each one will have permissions for each also I will make permissions for each shop like

shop.vip.blocks to only see the

[2019-03-04 15:10] AlexPads commented on #21
Thanks!

On Mon, Mar 4, 2019 at 10:04 AM CryptoKey98 <notifications@github.com>
wrote:

[2019-03-04 15:12] CryptoKey98 commented on #22
That's awesome. Thanks for your continued efforts in making an already 5/5 plugin.

[2019-03-04 15:14] AlexPads commented on #22
You're very Welcome Kind Sir 👍

[2019-03-04 15:16] AlexPads commented on #22
But really though you don't understand the amount of people that get really angry when things are not perfect and make really angry remarks and expect me to have it fixed in 3.5 seconds. and also leave 1 Star reviews on poggit saying its broken when in reality they just don't understand how to edit the shop file 👎  So Thank you! 👍

[2019-03-04 15:17] CryptoKey98 commented on #22
Yeah actually so those nasty reviews. Literally half of them weren't your fault and just their ignorance.

I left you a review that you deserve.

[2019-03-04 15:21] AlexPads commented on #22
Thank you! really helps out 👍

[2019-03-04 15:21] AlexPads commented on #22
Will try to have the New Features out in 2-3 Weeks because I am Busy with school right now.

[2019-03-04 15:33] AlexPads commented on #22
Updated the Time stamp on the New features release 😉 ❤️

[2019-03-05 10:34] CryptoKey98 opened #23 "[Bug] Setting the "Thanks" option in config to "false" causes error"
So if you have this option set to false, closing the shop will create an internal server error.

```[Server thread/CRITICAL]: ErrorException: "Undefined index:" (EXCEPTION) in "plugins/ShopUI-FormAPI-Working_dev-64.phar/src/SaltyPixelDevz/CustomShopUIv2/Shop" at line 165```

![capture](https://user-images.githubusercontent.com/30509839/53799413-8cb49580-3ef7-11e9-8a20-6f37c8f6e988.PNG)

[2019-03-05 10:54] CryptoKey98 commented on #23
Demonstration of Error: https://youtu.be/0d_EQ6OQGoA

[2019-03-05 16:11] AlexPads commented on #23
Then Leave it true for now I will fix that in the future update with
permissions.

On Tue, Mar 5, 2019 at 5:54 AM CryptoKey98 <notifications@github.com> wrote:

[2019-03-05 18:44] CryptoKey98 commented on #23
@AlexPads Oh of course. Just wanted to let you know of the issue. 👍

[2019-03-05 19:42] AlexPads commented on #23
You could also just set that message to a Blank "" like that if you really
don't want the message rn

On Tue, Mar 5, 2019 at 1:44 PM CryptoKey98 <notifications@github.com> wrote:

[2019-03-07 17:37] CryptoKey98 opened #24 "[Suggestion] Allow the option to disable/enable Buy & Sell for certain items"
I think it would be nice to choose what items you can sell or buy. 💯

[2019-03-08 13:31] AlexPads commented on #24
Ok will also add this!

[2019-03-10 19:29] AlexPads commented on #24
Not done with this Yet but Permissions and Unlimited Shops are online in the Dev Sections if you would like to test!

[2019-03-10 19:29] #22 closed

[2019-03-10 19:29] #23 closed

[2019-03-10 19:38] AlexPads commented on #24
i'm not going to add this for a while probably but Thank you for the Suggestion!

[2019-03-10 19:38] #24 closed

[2019-03-11 06:50] CryptoKey98 commented on #24
I see, I'll test them out and let you know of any possible bugs. :) Awesome.

[2019-03-13 19:07] CryptoKey98 opened #27 "[Suggestion] Add subcategories and a search-bar"
CryptoKey back again with his suggestions. Haha

So what I mean with subcategories for example;

`0:`
   ` Name: "Nature:textures/blocks/grass_side_carried"`
   ` Subs:  # use '[ ]' if no subcategories.`
      ` - "0:Dirt:textures/blocks/dirt" # ID:Name:Picture`
      ` - "1:Wood:textures/blocks/log_oak"`

 `Items:`
[code]
[code]
`1:`
`....`

Also a search-bar if that's even possible in FormAPI. T

[2019-03-13 20:04] AlexPads commented on #27
I'll work on it but it won't come fast

On Wed, Mar 13, 2019, 3:07 PM CryptoKey98 <notifications@github.com> wrote:

[2019-03-13 20:26] CryptoKey98 commented on #27
That's not an issue at all. Thanks for responding. :)

[2019-03-17 23:20] FaanMaario opened #28 "Nothing happen when item bought"
Hi,
When you buy/sell something, it doesn't do anything and I don't know why.

-----------

[code]

[2019-03-18 18:23] AlexPads commented on #28
@FaanMaario you must have an outside issue the plugin slapper plus and slapper mover disable the forms for other plugins causing issues with the shop this is because those plugins are no longer supported and can cause issues in your server try removing any other shop plugins and slapper plus or slapper movement if installed.

that might help but if not could you please explain more?

[2019-03-18 19:11] LeoBdt commented on #28
We don't have slapper plus

[2019-03-18 19:13] LeoBdt commented on #28
And slapper mover don't use forms

[2019-03-18 19:14] LeoBdt commented on #28
And the error is when we tried to buy something, it just close the window and saying "thanks for purchase" without giving the items. But it's working for buying commands.

[2019-03-18 21:38] AlexPads commented on #28
Try changing the item to something you 100% know the item I'd to. and
change things because I use this exact version on my servers and don't have
this problem are you using the latest version?

On Mon, Mar 18, 2019, 3:14 PM Léo <notifications@github.com> wrote:

[2019-03-18 21:40] LeoBdt commented on #28
Yes we're using the latest version and all of id are corrects.

[2019-03-18 22:04] AlexPads commented on #28
Its interference with another plugin the only way to fix it is to remove plugins one by one and figure out what one is causing it report it to me and i can patch it.

[2019-03-19 14:43] AlexPads commented on #28
@LeoBdt This has never happened before and it just seems like you might have something set up wrong.

[2019-03-19 17:23] alallalalalallalal opened #29 "explain me how can i get that folder texture/items...."

[2019-03-19 18:37] AlexPads commented on #29
What?

[2019-03-19 18:57] alallalalalallalal commented on #29
like, i wanna know where can i found the file textures

[2019-03-19 19:51] AlexPads commented on #29
Where at though on the website?

On Tue, Mar 19, 2019, 2:57 PM alallalalalallalal <notifications@github.com>
wrote:

[2019-03-22 12:06] #29 closed

[2019-03-22 12:06] #28 closed

[2019-03-24 13:24] alallalalalallalal opened #30 "Server Internal Erro"
Mar 24 07:22 [Server] Server thread/DEBUG #19 (9): include(string phar:///jar/pocketmine/pmmp/1.10.0-3.7.0/PocketMine-MP.phar/src/pocketmine/PocketMine.php)
Mar 24 07:22 [Server] Server thread/DEBUG #18 src/pocketmine/PocketMine(250): pocketmine\Server->__construct(BaseClassLoader object, pocketmine\utils\MainLogger object, string /, string /plugins/)
Mar 24 07:22 [Server] Server thread/DEBUG #17

[2019-03-24 15:32] AlexPads commented on #30
when did this happen? do you have FormAPI installed like it says to?

[2019-03-24 15:32] AlexPads commented on #30
not formAPI EconomyAPI

[2019-03-24 21:16] alallalalalallalal commented on #30
i have all that (formapi and economyAPI)

[2019-03-24 22:07] AlexPads commented on #30
When did you get that error and how do you know it's related to my plugin ?
Have you saved a copy of your shop.yml and config and messages.yml files
and moved them to another folder and restarted the plug-in to get a new
file to make sure it works?

On Sun, Mar 24, 2019, 5:16 PM alallalalalallalal <notifications@github.com>
wrote:

[2019-03-25 14:41] AlexPads commented on #30
integer 8, string Undefined offset: 3, string phar:///plugins/ShopUI-FormAPI-Working.phar/src/SaltyPixelDevz/CustomShopUIv2/Shop.php, integer 298, array Array())
Mar 24 07:22 [Server] Server thread/CRITICAL ErrorException: "Undefined offset: 3" (EXCEPTION) in "plugins/ShopUI-FormAPI-Working.phar/src/SaltyPixelDevz/CustomShopUIv2/Shop" at line 298

That there is saying that you have something wrong

[2019-03-27 20:46] n1k1ta99s opened #31 "Undefined offset, Help me"
[Server thread/CRITICAL]: ErrorException: "Undefined offset: 5" (EXCEPTION) in "plugins/ShopUI-FormAPI-Working.phar/src/SaltyPixelDevz/CustomShopUIv2/Shop" at line 317
2019-03-27 [23:17:01] [Server thread/DEBUG]: #0 plugins/ShopUI-FormAPI-Working.phar/src/SaltyPixelDevz/CustomShopUIv2/Shop(317): pocketmine\utils\Utils::errorExceptionHandler(integer 8, string Undefined offset: 5, string phar:///hom

[2019-03-27 20:47] AlexPads commented on #31
You have something in your shop.yml setup wrong

[2019-03-27 20:47] AlexPads commented on #31
@n1k1ta99s

[2019-03-27 20:48] n1k1ta99s commented on #31
No

[2019-03-27 20:48] n1k1ta99s commented on #31
@AlexPads

[2019-03-27 20:50] AlexPads commented on #31
Yes that line is $list[5] meaning somewhere you have a line that is not setup correctly in your shop.yml file.
what button did you click when you got that error.

[2019-03-27 20:53] n1k1ta99s commented on #31
![image](https://user-images.githubusercontent.com/48797799/55111333-35b37200-50eb-11e9-97d4-8394d48ca44b.png)

and when you change the name of the object the same error
@AlexPads

[2019-03-27 20:57] AlexPads commented on #31
ill look into it im not sure atm

[2019-03-27 21:00] n1k1ta99s commented on #31
@AlexPads
I do not understand you

[2019-03-27 21:01] AlexPads commented on #31
?

[2019-03-27 21:09] n1k1ta99s commented on #31
what might be the error @AlexPads

[2019-03-27 21:12] n1k1ta99s commented on #31
buying any item with value - "35:0:64:25:1.75:White Wool: https:: / / saltypixel.ga/textures/items / white_wolf.png " throws from the server @AlexPads

[2019-03-27 21:14] n1k1ta99s commented on #31
and if you buy the item, - "264:0:12:80:2.5:Default:textures/items/diamond", all is well @AlexPads

[2019-03-28 03:12] AlexPads commented on #31
Solved in #69

[2019-03-28 03:12] #31 closed

[2019-03-28 03:12] AlexPads commented on #30
Solved in 4.0.0

[2019-03-28 03:12] #30 closed

[2019-03-28 03:13] AlexPads commented on #27
Thank you for your Great Suggestions! Love them! All is fixed please report bug because no matter how hard i test it there are always bugs

[2019-03-28 03:13] #27 closed

[2019-03-28 05:31] n1k1ta99s opened #32 "Missing button back in the store"
Missing button back in the store

[2019-03-28 19:51] AlexPads commented on #32
You can enable it in the config file

On Thu, Mar 28, 2019, 1:31 AM n1k1ta99s <notifications@github.com> wrote:

[2019-03-28 20:14] n1k1ta99s commented on #32
@AlexPads
included in config file but not working

[2019-03-28 20:19] AlexPads commented on #32
Alright I'll fix it

On Thu, Mar 28, 2019, 4:14 PM n1k1ta99s <notifications@github.com> wrote:

[2019-03-28 21:54] AlexPads commented on #32
The Exit Buttons and Back Buttons all work in version 4.0.1 so im not sure what your issue is.

[2019-03-28 21:55] #32 closed

[2019-04-17 20:19] LeoBdt opened #33 "crash"
[20:16:18] [Server thread/CRITICAL]: TypeError: "in_array() expects parameter 2 to be array, boolean given" (EXCEPTION) in "plugins/ShopUI-FormAPI-Working.phar/src/SaltyPixelDevz/CustomShopUIv2/Shop" at line 81
[20:16:18] [Server thread/DEBUG]: #0 plugins/ShopUI-FormAPI-Working.phar/src/SaltyPixelDevz/CustomShopUIv2/Shop(81): in_array(string faction, boolean )
[20:16:18] [Server thread/DEBUG]: #1

[2019-04-18 03:15] AlexPads commented on #33
Please check that your config is correct and all the shop.yml and messages
files are good to go☺️

On Wed, Apr 17, 2019, 4:19 PM Léo <notifications@github.com> wrote:

[2019-04-20 13:48] RedCraftGH opened #34 "[Enhancement] Make Items sell-able only"
I think that it would be pretty cool if it were possible to make an item only sellable. So a player could not buy an item, but they could sell it.

For example, a player could not buy cobblestone from the shop, but they could still sell cobblestone in the shop.

[2019-04-21 08:34] AlexPads commented on #34
Ok thank you for the suggestion ☺️

On Sat, Apr 20, 2019, 9:48 AM Red <notifications@github.com> wrote:

[2019-04-21 08:35] #33 closed

[2019-05-09 00:52] AlexPads opened #35 "Complete Redesign!"

[2019-05-09 18:40] AlexPads commented on #34
@RedCraftGH This will happen in the Complete redesign

[2019-05-12 23:17] LeoBdt opened #36 "error"
TypeError: "Argument 3 passed to pocketmine\item\Item::get() must be of the type integer, float given, called in phar:///home/leo/skyblock/plugins/ShopUI-FormAPI-Working_dev-75.phar/src/SaltyPixelDevz/CustomShopUIv2/Shop.php on line 443" (EXCEPTION) in "src/pocketmine/item/Item" at line 105
2019-05-13 [01:15:20] [Server thread/DEBUG]: #0 plugins/ShopUI-FormAPI-Working_dev-75.phar/src/SaltyPixelDev

[2019-05-13 05:27] AlexPads commented on #36
That is a issue with your configuration. Please send your config or save it
somewhere separate and delete the original file so that I regens new config
and try again is issue still occurs please give more info on how and where
you got it.

On Sun, May 12, 2019, 7:17 PM Léo <notifications@github.com> wrote:

[2019-05-13 08:47] LeoBdt commented on #36
It happens when i use sliders.

[Config+shop.zip](https://github.com/AlexPads/ShopUI-FormAPI-Working/files/3171944/Config%2Bshop.zip)

[2019-05-13 14:39] AlexPads commented on #36
you can only have 1 slider or 1 input please disable input if you are going to use the slider (this will be possible in the Revamp though.) If this does not solve the issue please send another issue Will leave this one open just make sure to @me @LeoBdt

[2019-05-14 11:55] AlexPads commented on #36
Since you have not responded i will assume that you fixed it @LeoBdt

[2019-05-14 11:55] #36 closed

[2019-05-23 14:14] SonsaYT04 opened #37 "Share your Plugin"
Hello, I'm inviting you to join and share your free plugin to our website. You have options to make short download link to earn. We want to help developers to earn by making free plugin. https://www.mcbe.tk/plugins

[2019-05-23 15:12] AlexPads commented on #37
Didn't you work at HappyBe before they made a Mistake and Merged with ScamNetwork "NG"
And yeah ill share on there once I Look at the website im at school Right Now and it's blocked here.
@SonsaYT04

[2019-05-23 19:08] SonsaYT04 commented on #37
Yes. Thanks :D

[2019-05-24 13:08] AlexPads commented on #37
@SonsaYT04 Would you consider Helping me with my server or no. It's fine if you don't want to. and I didn't get a chance to post on there yesterday I will do it when I have time.
Thank You!

[2019-05-28 14:41] AlexPads commented on #37
@SonsaYT04 Plugin has been shared :)

[2019-05-28 14:41] #37 closed

[2019-07-08 03:17] EduGH7 opened #38 "Question/Enhancement"
Are yo gong todo implement the custom enchants from PiggyCustomEnchants? That would be awesome!

[2019-07-08 06:29] AlexPads commented on #38
You can use /ce enchant as separate button using the command selling that
you can do now. I will be making a Complete and HUGE UPDATE to this
sometime this month 😁

On Sun, Jul 7, 2019, 11:17 PM EduGH7 <notifications@github.com> wrote:

[2019-07-11 07:11] ZZWILLIAMXXTrue opened #39 "Line 86"
When I do /shop it crashes the player.
![AAE8E0F3-8E0B-4ED2-96BE-1479D961DED8](https://user-images.githubusercontent.com/49970753/61029651-24802f80-a381-11e9-9a4a-ae6baf40a6b7.png)
![6B1E8B49-692E-49D3-B27E-54E08FFD8693](https://user-images.githubusercontent.com/49970753/61029652-24802f80-a381-11e9-86a4-c38e56b6f968.png)
![886CDB97-FBF6-4ACB-A493-67D3A48BDFE9](https://user-images.githubusercontent

[2019-07-11 16:15] AlexPads commented on #39
Something on your shop.yml is setup wrong.

On Thu, Jul 11, 2019, 3:11 AM ZZWILLIAMXXTrue <notifications@github.com>
wrote:

[2019-07-11 22:34] ZZWILLIAMXXTrue commented on #39
Ok I fixed it!

[2019-07-11 22:34] #39 closed

[2019-07-17 19:01] PlutoZetaptor opened #40 "Give command"
Hi dude one question. I want too add a command that gives a key from the plugin mysterycrate. I tryed - "cmd:test:100:Console:give {player} vote 1:textures/items/paper"

But it didnt work

Ok and 2 question. What is the permissions for /shop vip? I want that only vip can use it.

[2019-07-17 20:17] AlexPads commented on #40
Well that command should work not sure what happened there...

And it should be permission shop.vip

On Wed, Jul 17, 2019, 3:01 PM PlutoZetaptor <notifications@github.com>
wrote:

[2019-07-17 20:54] TDMidkwhatisxd opened #41 "weird bug"
It seems that item number is show as sell price in diamonds and other ores.
For example, diamonds are 80 but in menu it show 12.

[2019-07-17 20:56] TDMidkwhatisxd commented on #41
So confusing, i was thinking that number is how many items/price ohhhh, or how many items  per transaction

[2019-07-18 06:59] LamPocketVN opened #42 "Help !"
![Minecraft 7_18_2019 1_56_45 PM_LI](https://user-images.githubusercontent.com/33188123/61436029-18d5cf80-a964-11e9-90b2-fbe47768a002.jpg)
Can you fix this ??

[2019-07-18 09:08] AlexPads commented on #40
Alexpads#9162

On Thu, Jul 18, 2019, 4:44 AM PlutoZetaptor <notifications@github.com>
wrote:

[2019-07-18 09:09] AlexPads commented on #42
Are you sure you are on the latest version?

On Thu, Jul 18, 2019, 2:59 AM Lam Nguyễn <notifications@github.com> wrote:

[2019-07-18 09:29] PlutoZetaptor commented on #40
Ok I send u a invite :)

[2019-07-18 10:41] TDMidkwhatisxd commented on #42
Alex can you tell me what is the item number? It appear as price and does not seems to affect anything

[2019-07-18 10:42] TDMidkwhatisxd commented on #42
To show the correct price i show item number same as item price, but im afraid that players to not get like 50 stuff for 50 and sell for like 25 each xd

[2019-07-18 16:28] AlexPads commented on #40
sry send again I forgot and ejected it 😂

On Thu, Jul 18, 2019, 5:29 AM PlutoZetaptor <notifications@github.com>
wrote:

[2019-07-18 21:20] benda95280 commented on #41
I've take a close look in the source code, it seems it's not used elsewhere than in the form (UI) ...

[2019-07-18 21:51] benda95280 commented on #41
I've been able to implement the necessary modification to have good information showed and item in inventory on my side.
Don't know how to PR it ...

[2019-07-19 00:25] EduGH7 opened #43 "Another question/enhancement"
Is it possible to use a slapper to open a specific shop but only for the people who have the permissions? If not that would be an enhancement
P.D. I'm excited for the huge update!🤩

[2019-07-21 15:05] LamPocketVN commented on #42
Yes I am in lastest version !

[2019-07-22 00:54] AlexPads commented on #42
I am very confused on what your problem is..... Do you have anyways to to
explain better ?

On Sun, Jul 21, 2019, 11:05 AM Lam Nguyễn <notifications@github.com> wrote:

[2019-07-22 07:33] StrawberryNature opened #44 "no purchase / sale possible!"
Really good plugin i love it.  now I have two days the problem, if one has selected his item and want to buy that no money is deducted and thus no items is placed in the inventory.  get the nice text "many dnk for the use of the shop" to see and that was it but also ... a great pity please help, I would like to continue to use the plugin.

[2019-07-22 08:24] AlexPads commented on #44
Do you have economy API installed? Was the plugin working before? What other UI plugins have you installed scince than.

[2019-07-22 08:25] AlexPads commented on #43
It is possible yes just add the command to the slapper and the plugin will make sure that they have the correct permissions

[2019-07-22 08:25] #43 closed

[2019-07-22 08:26] AlexPads commented on #42
If it is doing that in your shop than you have configured something incorrectly.

[2019-07-22 08:28] AlexPads commented on #41
Yes the plugin is still maintained........
WHAT IS THE ISSUE WHY CANT ANYONE EXPLAIN WHEN I ASK THEM TO. I need details versions..... Anything....

[2019-07-22 08:28] #41 closed

[2019-07-22 08:28] #40 closed

[2019-07-22 08:28] #38 closed

[2019-07-22 08:28] #42 closed

[2019-07-22 08:43] StrawberryNature commented on #44
yes and formapi too, it worked until two days ago.
I also use GamemodeUI, EconomyJobUI, EacTableU and ReportUI

[2019-07-22 09:10] benda95280 commented on #41
Dear Alex,

Sorry about that.
I've try with the last version, problem is present.

If you take a closer look in shop.php, you will find that the "Number" is used in form, but not in calc.

[2019-07-22 17:07] AlexPads commented on #44
Do all those other plugins work still.

On Mon, Jul 22, 2019, 4:44 AM StrawberryNature <notifications@github.com>
wrote:

[2019-07-22 17:08] AlexPads commented on #41
Could you submit a pull request so I could better understand the issue?

On Mon, Jul 22, 2019, 5:10 AM benda95280 <notifications@github.com> wrote:

[2019-07-22 17:44] benda95280 commented on #41
Take a look here:
https://github.com/AlexPads/ShopUI-FormAPI-Working/compare/master...benda95280:master

Sorry, my first time using GitHub, but take a look on line 225 and 445 (and above)
_I've removed some permission, because was not able to use it as i want :(_

[2019-07-22 20:17] StrawberryNature commented on #44
ja alle einwandfrei

[2019-07-23 03:15] AlexPads commented on #44
so you're just saying that the plugin does not work at all? are you sure that you don't have something set up wrong?

[2019-07-23 08:03] StrawberryNature commented on #44
exactly.  I have not touched the config, where the update for Poketmine came out to go to the 1.12

[2019-07-23 16:31] AlexPads commented on #44
I just installed the plug-in on a blank install of the latest pmmp and it worked with no issues. You must have a conflict from another plugin.

[2019-07-23 16:31] #44 closed

[2019-07-26 18:16] StrawberryNature commented on #44
sorry for the premature closing of this problem, have now recognized the problem it is due to the translation in German.  have probably done something wrong because in the original condition I can buy and get the items in my not.  great plugin will find my problem sometime.

[2019-09-20 12:27] ZZWILLIAMXXTrue opened #45 "/shop Wont work"
20.09 12:20:30 [Server] Server thread/CRITICAL ErrorException: "yaml_parse(): parsing error encountered during parsing: did not find expected key (line 77, column 3), context while parsing a block mapping (line 2, column 1)" (EXCEPTION) in "src/pocketmine/utils/Config" at line 181
20.09 12:20:30 [Server] Server thread/DEBUG #0 (): pocketmine\utils\Utils::errorExceptionHandler(integer 2, string[159

[2019-09-20 16:26] AlexPads commented on #45
That means that you have an error in one of your config files please make
sure that you have edited them properly! If you can't find it send me a
copy I can help!!

On Fri, Sep 20, 2019, 8:27 AM ZZWILLIAMXXTrue <notifications@github.com>
wrote:

[2019-09-20 21:23] ZZWILLIAMXXTrue commented on #45
Ok

[2019-09-20 21:30] ZZWILLIAMXXTrue commented on #45
Config:
# DO NOT TO
config-version: 5
# DO NOT TOUCH^^^^

# When someone closes the shop it shuts completely out they will have to run the command again!
Straight_Back: false

# when someone closes the shop it goes back to the Category area they can then close it from there.
Back_to_Start: false

# This makes the Command only work when the player is in Survival
Survival: false

# This is Used to B

[2019-09-20 21:31] ZZWILLIAMXXTrue commented on #45
Idk why there are 💯 and big letters, it looks normal in the config

[2019-09-21 03:09] AlexPads commented on #45
Can you please use a site like pastebin or hastebin thanks 👍

On Fri, Sep 20, 2019, 5:31 PM ZZWILLIAMXXTrue <notifications@github.com>
wrote:

[2019-09-21 05:07] ZZWILLIAMXXTrue commented on #45
https://pastebin.com/wjLWG98Y

[2019-09-22 05:15] ZZWILLIAMXXTrue commented on #45
Found out the problem, for some reason ramshard is really messed up with spaces.

[2019-09-22 05:15] #45 closed

[2019-09-22 05:16] AlexPads commented on #45
Yeah I was going to say that your config has some messed up spaces.

On Sun, Sep 22, 2019, 1:15 AM ZZWILLIAMXXTrue <notifications@github.com>
wrote:

[2019-11-19 08:19] jaylac2000 opened #46 "Suggestion"
dd mob spawner suppot. example: 52:32 is a zombie spawner

[2019-12-15 03:20] AlexPads commented on #46
Monster Spawners are not a default Item in minecraft altho I will think about something to do about this,

[2019-12-22 21:24] junxiesky opened #47 "Is the plugin still updated?"
I want to know if this plug-in is still being maintained

[2019-12-22 21:25] AlexPads commented on #47
Yes. I am re-writing the whole thing still its going to be EPICC

On Sun, Dec 22, 2019 at 1:24 PM junxiesky <notifications@github.com> wrote:

[2019-12-23 07:56] junxiesky commented on #47
So when can it be done?

[2019-12-23 19:04] AlexPads commented on #47
The plugin is perfectly functional in its current state and the Re-Write will be done when its done.

[2019-12-25 08:49] junxiesky commented on #47
But I hope some items can be sell but not purchased

[2019-12-25 18:56] AlexPads commented on #47
It will be updated hopefully soon I'm working on Alot of upgrades.

On Wed, Dec 25, 2019, 3:49 AM junxiesky <notifications@github.com> wrote:

[2020-01-30 06:55] BlueWhaleYT opened #48 "shop.yml doesn't clickable"
Hi there,
I downloaded latest version of this plugin from poggit.After I installed into the server and the shop.yml inside of /plugin_data doesn't clickable.I cannot set the products.Is it a bug?
Thanks.

[2020-01-30 14:21] AlexPads commented on #48
You have to download it to edit it this will be fixed when I'm done
re-writing it.

On Thu, Jan 30, 2020 at 1:55 AM BlueWhaleYT <notifications@github.com>
wrote:

[2020-01-31 03:27] #48 closed

[2020-02-09 03:42] imwood04 opened #49 "Imgs"
So the website saltypixel.ga you no longer use so we cant submit imgs or anything would be nice to have a way again.

[2020-02-09 05:04] #49 closed

[2020-03-15 16:02] MisledPaul58 opened #50 "How to sell commands"
Hi, this plugin is really cool, but I want to sell commands, how can I do it?

[2020-03-19 00:42] ZZWILLIAMXXTrue commented on #50
If you have PurePerms just do /setuperms {PLAYER} (permission for a command)

[2020-03-19 19:23] MisledPaul58 commented on #50
But I want to sell them for a price.

[2020-04-06 07:44] Johnsonk79 commented on #50
read config dude

[2020-04-06 07:46] Johnsonk79 commented on #47
when will the rewrite be finished? Can't wait :D

[2020-04-06 19:12] AlexPads commented on #47
Hopefully soon when I have time.

[2020-04-06 19:13] AlexPads commented on #50
It tells you exactly how in the top of the shop.yml file.

[2020-04-08 09:20] Johnsonk79 opened #51 "Selling commands message"
Not an issue, but a request to add a customizable message when a player purchases a command.
:D

[2020-04-24 14:41] MisledPaul58 commented on #50
Where
## DO NOT TOUCH (This is for Updates only!)
shop-version: 4
# DO NOT TOUCH ^^^^^

#Command Example!!!
#======================================================================================================
# Commands:
#
#
#    - "cmd:Sharpness III:100:Console:enchant {player} protection 3:textures/items/stone_sword"
#            NAME^^^ Price^^^ TYPE^^^            COMMAND^^^^^             PI

[2020-05-05 21:29] junxiesky commented on #47
@AlexPads
When can upgrade the plugin?

[2020-05-13 12:13] Dapro718 commented on #47
Any updates on when the rewrite will be finished? This plugin is really helpful to a lot of different servers. An update would be awesome!

[2020-05-18 17:20] mrpwes opened #53 "how to enable vip shop?"
i tried permission shop.vip
also find the permission and still i dont have any clue 😢

[2020-05-21 16:14] #53 closed

[2020-05-21 17:46] Rorton69 opened #54 "Permissions"
Amazing plugin thank you, but what is the permission for the /shop vip command please? Cannot find it anywhere.

[2020-05-21 17:54] #54 closed

[2020-05-23 03:32] mrpwes commented on #54
did you find it ?

[2020-05-23 07:00] mrpwes opened #55 "Image"
Is it possible to retrieve the image locally ?

[2020-05-23 11:57] mrpwes opened #56 "VIP SHOP"
are there permission for VIP Shop ? i can't find it anywhere

[2020-05-24 04:51] #56 closed

[2020-05-24 05:05] mrpwes opened #57 "Error"
[04:55:13] [Server thread/CRITICAL]: ErrorException: "Undefined offset: 2" (EXCEPTION) in "plugins/ShopUI-FormAPI-Working.phar/src/SaltyPixelDevz/CustomShopUIv2/Shop" at line 299
[04:55:13] [Server thread/DEBUG]: #0 plugins/ShopUI-FormAPI-Working.phar/src/SaltyPixelDevz/CustomShopUIv2/Shop(299): pocketmine\utils\Utils::errorExceptionHandler(integer 8, string[19] Undefined offset: 2, string[102] ph

[2020-05-24 20:08] AlexPads commented on #57
That is a configuration error.

[2020-05-24 20:08] AlexPads commented on #55
Yes, just use a local path to a image file

[2020-05-24 20:08] #55 closed

[2020-05-24 20:11] AlexPads commented on #50
`- "cmd:Sharpness III:100:Console:enchant {player} protection 3:textures/items/stone_sword"`

Just add that as an Item and it will run whatever command you set it to...

[2020-05-24 20:11] #50 closed

[2020-05-24 20:12] AlexPads commented on #47
I am aware but im also busy and don't have much time to re-write this.

[2020-05-25 05:47] #57 closed

[2020-05-25 11:18] mrpwes commented on #55
Name: "Redstone Stuff:/root/img/enchantedstick.png"

![image](https://user-images.githubusercontent.com/31194909/82808345-698b5280-9ebc-11ea-8ae3-f955be0cb4c6.png)

not working :< idk what is my error

[2020-05-25 17:14] mrpwes commented on #55
im using linux

[2020-05-26 01:50] Dapro718 commented on #47
Ok

[2020-06-05 18:10] minijaham opened #58 "Internal Server Error"
05.06 18:07:53 [Server] Server thread/CRITICAL ErrorException: "Undefined offset: 3" (EXCEPTION) in "plugins/CustomShopUI/src/SaltyPixelDevz/CustomShopUIv2/Shop" at line 424
05.06 18:07:53 [Server] Server thread/DEBUG #0 plugins/CustomShopUI/src/SaltyPixelDevz/CustomShopUIv2/Shop(424): pocketmine\utils\Utils::errorExceptionHandler(integer 8, string[19] Undefined offset: 3, string[110] /plugins/Cus

[2020-06-08 16:10] MightyEclipseAWE opened #59 "shop.yml"
Line 17:  Defalut (typing error)

[2020-06-09 08:51] xKurt21 commented on #59
I cant access this file

[2020-06-09 08:56] MightyEclipseAWE commented on #59
What do you mean?
In the config of the Shop is a typing error.
Line 17: Defalut

[2020-07-01 10:03] mrpwes commented on #55
how to retrieve the image locally ?

[2020-07-05 16:11] MightyEclipseAWE opened #60 "Tanks message bug"
if turning the thanks message true, the shop stop working.
When i try to buy or sell stuff the shop is just closing when clicking on Submit.

[2020-07-10 02:51] minijaham commented on #58
Nvm I fixed it

[2020-07-10 02:51] #58 closed

[2020-07-20 17:03] foxysy commented on #56
can un tell me the perm? i dont find it

[2020-07-20 17:46] foxysy opened #61 "VIP SHOP Permission"

[2020-07-20 17:47] foxysy commented on #61
need the vip shop permission, in the plugin file it only say about the shop.shop of the normal /shop but nothing about vip shop.
if i get op the command work without problems. when i try to see all the perms with hierarchy plugin i can see only shop.shop and other 254 permissions, so can anyone tell me what is the true perm for this? ty

[2020-07-28 15:48] hamid0740 opened #62 "Change the command plz"
There is a little problem with command
The EconomyShop plugin has "/shop" command too
So I can't use your plugin and the EconomyShop plugin together
Plz change your command to another thing plz

[2020-07-28 18:59] #62 closed

[2020-07-28 19:00] hamid0740 commented on #62
Sorry
But i changed the command to /market instead of /shop

[2020-07-30 05:01] mrpwes commented on #55
not working i tried lots of shits im sucks
![image](https://user-images.githubusercontent.com/31194909/88882540-c9a7c780-d264-11ea-93de-73cc7446ec78.png)

[2020-08-05 21:03] parker499 opened #63 "Command not working"
when i try to use /shop, the command doesn't show up. i haven't seen anyone else have this problem so i'm quite confused!

[2020-10-08 18:31] AlexPads commented on #61
shop.shopname

[2020-10-09 12:19] AlexPads commented on #63
Have you made sure the plugin is active on your server?

[2020-11-04 08:06] MerLant opened #68 "The item "work only in survival" doesn't work"
Every time I turn on the item using the store in survival, this error appears.

[12:57:42] [Server thread/CRITICAL]: TypeError: "Argument 1 passed to pocketmine\lang\BaseLang::translateString() must be of the type string, null given, called in phar://.../PoketMine/PocketMine-MP-3.15.1/PocketMine-MP.phar/src/pocketmine/Player.php on line 3518" (EXCEPTION) in "src/pocketmine/lang/BaseLang" at line 1

[2020-11-04 13:27] AlexPads commented on #68
That is an error in your config please make sure you are doing it correctly.

[2020-12-28 10:03] DrvExe opened #69 "Error while /shop executed"
[09:59:21] [Server thread/CRITICAL]: ErrorException: "include(phar:///home/container/plugins/ShopUI-FormAPI-Working_dev-80.phar/src/SaltyPixelDevz/CustomShopUIv2/libs/jojoe77777/FormAPI/SimpleForm.php): failed to open stream: phar error: Cannot open phar archive "/home/container/plugins/ShopUI-FormAPI-Working_dev-80.phar" for reading" (EXCEPTION) in "pmsrc/vendor/pocketmine/classloader/src/BaseCla

[2021-01-08 09:21] BroccoliGG opened #70 "Slidebar Error"
If enable the slide bar in the config file and try to purchase items using the slide bar from within the game, I will get an "Internal Server Error".

[09:12:04] [Server thread/CRITICAL]: ErrorException: "Undefined offset: 3" (EXCEPTION) in "plugins/CustomShopUI_v4.0.5/src/SaltyPixelDevz/CustomShopUIv2/Shop" at line 422
[09:12:04] [Server thread/CRITICAL]: #0 plugins/CustomShopUI_v4.0.5/src/SaltyP

[2021-01-24 07:25] hardsiamang655 opened #71 "We don't want to sell How can we close it?"
We want to turn off the sell feature in the plugin, how can we do it?

[2021-01-24 07:27] hardsiamang655 commented on #71
It would be nice if we set the sell attribute to false in config.yml

[2021-03-01 18:11] TheHumanCalculator opened #72 "Where is the shop.yml"
Can you help me about shop.yml?

[2022-02-15 21:53] branryl opened #74 "Update to api 4.0.0"

[2022-02-16 04:15] AlexPads commented on #74
This is on my to-do list but I am extremely busy. expect the 4.0.0 support in 1-2 weeks.

[2022-02-19 16:22] Tuvqlu opened #76 "Crash"
Hi it crashes when I type /shop, it says this:

![image](https://user-images.githubusercontent.com/98550458/154809339-95c0912b-331a-44ed-be7a-1923796060cc.jpeg)

I have formapi dev 5
And FormsUI by Vecna
Help

[2022-02-19 22:01] AlexPads commented on #76
I am looking into it. Looks like the Viron has not been successfully initiated by Poggit.

[2022-02-19 22:20] AlexPads commented on #76
This is resolved in the latest dev version [here](https://poggit.pmmp.io/r/162683/ShopUI-FormAPI-Working_dev-85.phar).

[2022-02-19 22:21] #35 closed

[2022-02-19 22:21] #46 closed

[2022-02-19 22:21] #47 closed

[2022-02-19 22:21] #51 closed

[2022-02-19 22:21] #59 closed

[2022-02-19 22:21] #60 closed

[2022-02-19 22:21] #61 closed

[2022-02-19 22:21] #63 closed

[2022-02-19 22:21] #69 closed

[2022-02-19 22:21] #70 closed

[2022-02-19 22:21] #71 closed

[2022-02-19 22:21] #72 closed

[2022-02-19 22:21] #74 closed

[2022-02-19 22:30] #76 closed

[2022-02-20 18:57] Tuvqlu opened #77 "Bug"
(This is when economy api is activated) Hello, when I press it and buy something, I don't lose coins, and I don't get the item. Help

[2022-02-20 19:40] logannn61 opened #78 "s"
s

[2022-02-20 19:41] #78 closed

[2022-02-20 19:50] Tuvqlu opened #79 "Command crash"
![98291BB3-69F3-4189-8CC5-7511D3E3C653](https://user-images.githubusercontent.com/98550458/154861449-0d3c0815-202b-4382-a9de-2cc1b1633e9a.jpeg)

[2022-02-21 00:40] AlexPads commented on #79
Please make sure you are running the latest version. There have been a few more updates since dev85

[2022-02-21 02:05] Tuvqlu commented on #79
Yes I’m using the most recent update release, and still crashes

[2022-02-21 06:50] AlexPads commented on #79
What version is the plugin when you run the command "pl" to show plugins

[2022-02-21 07:14] Tuvqlu commented on #79
I’m using Shop-Ui-Form-Api-Working2.phar

[2022-02-21 09:21] rokibot009 opened #80 "doesn't support EconomyAPI plugin anymore?"

[2022-02-21 15:42] AlexPads commented on #80
It does. Please change the config.yml and change "BedrockEconomy" to "EconomyAPI"

[2022-02-21 15:42] #80 closed

[2022-02-21 15:43] AlexPads commented on #79
What is the version, when the server is running. Run the command "/pl" or "pl" in console and it should show active plugins and the version they are on.

[2022-02-21 15:43] AlexPads commented on #77
Make sure you activate EconomyAPI in the config.yml

[2022-02-21 15:50] Tuvqlu commented on #79
v5.03, also, with economy api, it doesn’t take money out of my acc when I buy something, and I don’t get anything

[2022-02-21 15:52] Tuvqlu commented on #79
Just crashed, when I click into Weapons
![D37DCEB8-7829-4744-9840-23E5E83F4E1A](https://user-images.githubusercontent.com/98550458/154988492-93ae712d-2b51-4b0f-b419-8c7c256552b7.jpeg)

[2022-02-21 16:25] AlexPads commented on #79
You have an error in your shop.yml. Thats the crash you just got.

I will check on EconomyAPI when I am available. Please send the error for EconomyAPI if there is one, from the console. Not whatever this web error garbage is. Thank you.

[2022-02-21 16:25] AlexPads commented on #77
I will take a look at this when I am available but I tested multiple times in every section with it working before.

[2022-02-21 17:02] Tuvqlu commented on #79
Okay thank you, is the commands fixed as well?

[2022-02-21 23:50] rokibot009 commented on #80
Tysm

[2022-02-23 17:31] Kirushaa228 opened #81 "New language"
Add Russian. I can help. Communication via discord

[2022-03-01 03:48] RodolfoDorfis opened #82 "buy Enchantment"
When I try to buy the enchanted sword the server closes, I've tried all versions.

error:

01.03 00:41:33 [Server] INFO [00:41:33.124] [Server thread/CRITICAL]: ErrorException: "Undefined variable $cmd" (EXCEPTION) in "plugins/ShopUI-FormAPI-Working_dev-87.phar/src/AlexPads/CustomShopUI/Main" at line 358
01.03 00:41:33 [Server] INFO --- Stack trace ---
01.03 00:41:33 [Server] INFO #0 plugins/ShopU

[2022-03-01 03:51] RodolfoDorfis commented on #82
Your plugin is great, please fix it asap

[2022-03-11 17:37] Driwen commented on #82
can you fix ?

[2022-05-29 17:57] XackiGiFF commented on #82
I`m fixed that.. Just need correct code

[2022-05-29 18:16] XackiGiFF commented on #82
Need replace:

##Add new path:
on 8 str: `use pocketmine\command\ConsoleCommandSender;`
to: `use pocketmine\console\ConsoleCommandSender;`

cause new API 4.0.0

##Between (356-357) place this:
- `$msg = new Config($this->getDataFolder() . "messages.yml", Config::YAML);`

cause 358 need param value $msg (**This crashed**):
- `$economy->removeMoney($player, $list[2], static function(bool $success) u

[2022-07-17 19:28] Tinou19330 opened #83 "BedrockEconomy"
There is a problem with BedrockEconomy.

[2022-07-23 09:31] AlexPads commented on #83
Can you send the error?

[2022-07-23 09:31] AlexPads commented on #82
You can submit a pull request

[2022-07-23 09:32] AlexPads commented on #81
Please make language file and translation system in a pull request then :D

[2022-07-23 09:32] #77 closed

[2022-08-26 01:50] EvilDevil1175 opened #85 "buy enchant error you dont have money"
Error: "Using $this when not in object context" (EXCEPTION) in "plugins/ShopUI-FormAPI-Working-master/src/AlexPads/CustomShopUI/Main" at line 374

[2022-08-26 01:53] EvilDevil1175 commented on #82
new bug
Error: "Using $this when not in object context" (EXCEPTION) in "plugins/ShopUI-FormAPI-Working-master/src/AlexPads/CustomShopUI/Main" at line 374

[2022-10-02 04:13] mri4ards commented on #83
if you try to buy more than 99999999999 then you will get the same amount of money